/* Write your CSS here */
.Home-co {
  height: 100vh;
  background-image: linear-gradient(#303150, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
